.userImage {
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.userInfo {
  margin-top: 30px;
  display: flex;
  gap: 50px;
}

.friends {
  margin-block: 30px;
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
